@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media print {
    body > *:not(#printable-receipt-container) {
      display: none !important;
    }
    #printable-receipt-container {
      display: block !important;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    #printable-receipt {
      box-shadow: none !important;
      border: none !important;
      margin: 0 !important;
      width: 100% !important;
    }
  }
}
